<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="1password" />
   <package id="7zip" />
   <package id="7zip.install" />
   <package id="anaconda3" />
   <package id="audacity" />
   <package id="audacity-lame" />
   <package id="aws-iam-authenticator" />
   <package id="AWSTools.Powershell" />
   <package id="azcopy" />
   <package id="azure-data-studio" />
   <package id="azure-data-studio-sql-server-admin-pack" />
   <package id="azurepowershell" />
   <package id="binroot" />
   <package id="bitwarden" />
   <package id="bitwarden-chrome" />
   <package id="bitwarden-cli" />
   <package id="bitwarden-edge" />
   <package id="brave" />
   <package id="ccleaner" />
   <package id="choco-cleaner" />
   <package id="choco-package-list-backup" />
   <package id="chocolatey" />
   <package id="chocolatey-azuredatastudio.extension" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-dotnetfx.extension" />
   <package id="chocolatey-visualstudio.extension" />
   <package id="chocolatey-vscode.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="chocolateygui" />
   <package id="chromium" />
   <package id="cmake" />
   <package id="cmake.install" />
   <package id="codeblocks" />
   <package id="codelite" />
   <package id="correttojdk" />
   <package id="cpu-z" />
   <package id="cpu-z.install" />
   <package id="curl" />
   <package id="Cygwin" />
   <package id="dbatools" />
   <package id="docker" />
   <package id="docker-cli" />
   <package id="docker-desktop" />
   <package id="dontsleep" />
   <package id="dontsleep.install" />
   <package id="dotnet" />
   <package id="dotnet-5.0-desktopruntime" />
   <package id="dotnet-5.0-sdk-1xx" />
   <package id="dotnet-6.0-runtime" />
   <package id="dotnet-6.0-sdk" />
   <package id="dotnet-6.0-sdk-2xx" />
   <package id="dotnet-runtime" />
   <package id="dotnet-sdk" />
   <package id="DotNet4.5" />
   <package id="DotNet4.5.2" />
   <package id="dotnet4.7.2" />
   <package id="dotnet5-desktop-runtime" />
   <package id="dotnetcore" />
   <package id="dotnetcore-3.1-runtime" />
   <package id="dotnetcore-3.1-sdk" />
   <package id="dotnetcore-3.1-sdk-4xx" />
   <package id="dotnetcore-runtime" />
   <package id="dotnetcore-runtime.install" />
   <package id="dotnetcore-sdk" />
   <package id="dotnetfx" />
   <package id="eclipse" />
   <package id="ecs-cli" />
   <package id="elixir" />
   <package id="erlang" />
   <package id="f.lux" />
   <package id="f.lux.install" />
   <package id="Firefox" />
   <package id="gh" />
   <package id="gimp" />
   <package id="git" />
   <package id="git-credential-manager-for-windows" />
   <package id="git-lfs" />
   <package id="git-lfs.install" />
   <package id="git.install" />
   <package id="github" />
   <package id="github-desktop" />
   <package id="githubforwindows" />
   <package id="golang" />
   <package id="GoogleChrome" />
   <package id="gpodder" />
   <package id="graalvm" />
   <package id="gradle" />
   <package id="heroku-cli" />
   <package id="iis.administration" />
   <package id="instchoco" />
   <package id="ironpython" />
   <package id="javaruntime" />
   <package id="jdk8" />
   <package id="jetbrainstoolbox" />
   <package id="jfrog-cli" />
   <package id="KB2533623" />
   <package id="KB2919355" />
   <package id="KB2919442" />
   <package id="KB2999226" />
   <package id="KB3033929" />
   <package id="KB3035131" />
   <package id="KB3063858" />
   <package id="KB3118401" />
   <package id="kind" />
   <package id="kotlinc" />
   <package id="kubernetes-cli" />
   <package id="kubernetes-helm" />
   <package id="kubernetes-kompose" />
   <package id="kubernetes-kops" />
   <package id="kubernetes-node" />
   <package id="libreoffice" />
   <package id="libreoffice-fresh" />
   <package id="linqpad" />
   <package id="linqpad6" />
   <package id="linqpad6.install" />
   <package id="linqpad7" />
   <package id="linqpad7.install" />
   <package id="llvm" />
   <package id="make" />
   <package id="maven" />
   <package id="microsoft-edge" />
   <package id="microsoft-vsteam-psmodule" />
   <package id="microsoft-windows-terminal" />
   <package id="microsoftazurestorageexplorer" />
   <package id="mingw" />
   <package id="Minikube" />
   <package id="msys2" />
   <package id="multipass" />
   <package id="mysql-cli" />
   <package id="mysql-python" />
   <package id="netbeans" />
   <package id="netfx-4.7.2" />
   <package id="nodejs" />
   <package id="nodejs.install" />
   <package id="office365business" />
   <package id="openjdk" />
   <package id="openjdk11" />
   <package id="openjdk8" />
   <package id="openshift-cli" />
   <package id="packer" />
   <package id="postgresql" />
   <package id="postgresql13" />
   <package id="postgresql14" />
   <package id="postman" />
   <package id="PowerShell" />
   <package id="powershell-core" />
   <package id="procmon" />
   <package id="puppet" />
   <package id="putty" />
   <package id="putty.portable" />
   <package id="python" />
   <package id="python3" />
   <package id="R.Project" />
   <package id="R.Studio" />
   <package id="rpi-imager" />
   <package id="ruby" />
   <package id="ruby.install" />
   <package id="rufus" />
   <package id="scala" />
   <package id="scala.portable" />
   <package id="shexview" />
   <package id="speedtest" />
   <package id="sumatrapdf" />
   <package id="sumatrapdf.install" />
   <package id="sysinternals" />
   <package id="terraform" />
   <package id="typescript" />
   <package id="vault" />
   <package id="vcredist140" />
   <package id="vcredist2015" />
   <package id="virtualbox" />
   <package id="visualstudio-installer" />
   <package id="visualstudio2022community" />
   <package id="vlc" />
   <package id="vmwareworkstation" />
   <package id="vnc-viewer" />
   <package id="vscode" />
   <package id="vscode-kubernetes-tools" />
   <package id="vscode.install" />
   <package id="windirstat" />
   <package id="WinPcap" />
</packages>
